**/nbactions.xml
**/nb-configuration.xml
**/glassfish-web.xml
**/*.NavData
**/target/
**/*~
**/*.swp
/jsf2.2/libraries/target/
/jsf2.2/flow/target/
/AngularTest/nbproject/private/
/HTML5Test/nbproject/private/
/simple-angular-1/nbproject/private/