**/nbactions.xml
**/nb-configuration.xml
**/glassfish-web.xml
**/*.NavData
**/target/
**/*~
**/*.swp
/jsf2.2/libraries/target/
/jsf2.2/flow/target/
/AngularTest/nbproject/private/
/HTML5Test/nbproject/private/
/simple-angular-1/nbproject/private/
/SimpleRestService/nbproject/private/
/MyFxGame/nbproject/private/
/MyFxGame/build/
/SimpleEjb/HelloEjb/target/
/SimpleEjb/WebApp/target/
/SimpleEjb/ejb/target/
/SimpleEjb/war/target/
/SimpleEjb/ear/target/
/simple-jsf-ejb/ear/target/
/simple-jsf-ejb/ejb/target/
/simple-jsf-ejb/war/target/